mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="static/img/svg/symbol/sprite.svg#" + name)

mixin nav(className, items, activeItem, id)
	nav.header__nav
		ul#menu(class= `${className}`)
			each item, ndx in items
				li(class= `${className}__item`  )
					a(class=`${className}__link`+ ( ( ndx === activeItem ) ? ` ${className}__item active1` : ' ') href=item.href)= item.name
			li.nav-list__item
				a.nav-list__link1(href="#contacts" id="contact-fix") Контакты

mixin nav-mobile(className, items, activeItem)
	nav.mobile
		.header-phone
			a.phone(href="tel:+79217270390") 8(921) 727-03-90
			a.consult-mob(href="#form-section") Бесплатная консультация
		.mobile-container
			ul(class= `${className}`)
				each item, ndx in items
					li(class= `${className}__item` + ( ( ndx === activeItem ) ? ` ${className}__item active` : ' ') )
						a(class=`${className}__link` href=item.href)= item.name
		.header-nav__soc
			ul.nav-soc
				li.nav-soc__item
					a.nav-soc__link(href="https://www.avito.ru/respublika" target="_blank")
						img(src="static/img/content/avito.png", alt="")
				li.nav-soc__item
					a.nav-soc__link(href="https://vk.com/club29519563" target="_blank")
						+icon('vk')
			

mixin nav-soc(className, items, activeItem)
	nav.nav-list
		ul(class= `${className}`)
			each item, ndx in items
				li(class= `${className}__item`  )
					a( class= `${className}__link`+ ( ( ndx === activeItem ) ? ` ${className}__item--active` : ' ') href=item.href)= item.name
					
					
